.container {
    margin: 0 auto;
    width: 95%;
    padding: 1rem 0;
}
  
.flex {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
}

.progress {
    justify-content: space-between;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.progress h2 {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #cccccc;
    color: #222222;
}

.progress h3 {
    margin-top: -12px;
    font-weight: 300;
    font-size: 16px;
}