html,
body {
  margin: 0;
  height: 100%;
  background: #222222;
  color: #cccccc;
}

header {
    padding: 2rem 0;
  }

header h1 {
    font-size: 6rem;
    text-align: center;
    line-height: 0.9;
}

header p {
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem 0 0;
}

footer {
  text-align: center;
}

.link {
	color: inherit;
	text-decoration: none;
	box-shadow: inset 0 -.125em 0 0 #ddd;
	
	transition-property: color;
	transition-duration: .25s;
	trasition-timing-function: cubic-bezier(0,0,.58,1);
}

.link:hover {
	color: #ccc;
}






